<h2>Listing test_tasks</h2>

<table id='test_tasks'>
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Person</th>
    <th>Checktime</th>
    <th>Test Links</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @test_tasks.each do |test_task| %>
      <tr>
        <td><%= check_box_tag('checked',test_task.id) %> </td>
        <td><%= test_task.id %></td>
        <td><%= test_task.person %></td>
        <td><%= test_task.checktime %></td>
        <td><%= test_task.test_links.urls.split[0] + "..." %></td>
        <td><%= test_task.result %> </td>

        <td><%= link_to 'Show', test_task %></td>
        <td><%= link_to 'Edit', edit_test_task_path(test_task) %></td>
        <td><%= link_to 'Destroy', test_task, confirm: 'Are you sure?', method: :delete %></td>
        <td><%= link_to 'Check', check_test_task_path(test_task) %></td>

      </tr>


  <% end %>
  </tbody>
</table>

<br/>