<p id="notice"><%= notice %></p>

<p>
<h3>Person:</h3>
<%= @test_task.person %>
</p>

<p>
<h3>Checktime:</h3>
<%= @test_task.checktime %>
</p>

<p>
<h3>Test Link:</h3>
<%= render @test_task.test_links %>
</p>

<p>
<h3>Result:</h3>
<%= @test_task.result %>
</p>


<%= link_to 'See Result Details',test_task_test_link_results_path(@test_task) %>

<%= link_to 'Edit', edit_test_task_path(@test_task) %>
<%= link_to 'Back', test_tasks_path %>
<%= link_to 'Check', check_test_task_path(@test_task) %>

