<p id='notice'><%= flash[:notice] %></p>


<%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :person %>
      <%= f.text_field :person %>
      <%= f.label :checktime %>
      <%= f.datetime_select :checktime %>
    </div>

    <div class="field">
      <%= f.label :threads %>
      <%= f.text_field :threads %>
      <%= f.label :depth_limit %>
      <%= f.text_field :depth_limit %>
      <%= f.label :subdomains %>
      <%= f.check_box :subdomains %>
    </div>

    <div class="field">
      <%= f.label :urls %><br />
      <%= f.text_area :urls %>
    </div>

    <p>
    <h3>Result:</h3>
    <%= @task.result %>
    </p>

    <div class="actions">
      <%= f.submit %>
    </div>


<% end %>




