<p id="notice"><%= notice %></p>

<%= form_tag({:action=>:search}, :multipart => true,:method => "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>

    <%= radio_button_tag(:search_type, "by_id",true) %>
    <%= label_tag(:search_type_by_id, "Search by id") %>
    <%= radio_button_tag(:search_type, "by_person") %>
    <%= label_tag(:search_type_by_person, "Search by person (not implement yet )") %>

    <br/>

    <%= render 'tasks_list' %>

<% end %>

<%= link_to 'New Task', new_task_path %>
