<p id="notice"><%= notice %></p>

<p>
<h3>Person:</h3>
<%= @task.person %>
</p>

<p>
<h3>Checktime:</h3>
<%= @task.checktime %>
</p>

<p>
<h3>Test Link:</h3>
<%= render :partial => 'link_test/link_test',:locals => {:link_test => @task.link_test} %>
</p>

<p>
<h3>Result:</h3>
<%= @task.result %>
</p>


<div>
  <% #TODO:notices for no results notices %>
  <%= link_to 'See Result Details',task_results_path(@task) %>
  <%= link_to 'Edit', edit_task_path(@task) %>
  <%= link_to 'Test Setting', edit_task_setting_url(@task) %>
  <%= link_to 'Check', check_task_path(@task) %>
</div>

<div><%= link_to 'Back', tasks_path %></div>

