<h3>Results details:</h3>
<h4>All links counts <%= @results.count %></h4>
<p id='notice'><%= flash[:notice] %></p>

<%= render 'sql_setting' %>

<%= render 'colum_setting' %>

<%= render 'pagination' %>

<%= render 'results' %>

<%= render 'pagination' %>

<div>
  <%= link_to 'Task Detatils',edit_task_path(@task) %>
  <%= link_to 'Task List', tasks_path %>
</div>



